<head>
    <style>body {background: rgb(242, 235, 233) !important;}</style>
</head>

<%-include('partials/header-main')%>

<div class="landing">
    <h1 action="/">nitjsr blog</h1>
    <a href="/login"><button type=button class="btn btn-lg">Get Started !</button></a>
</div>

<%-include('partials/footer')%>