<head>
  <style>body {background: url("/img/Funky-HD-Wallpaper.jpg") fixed; background-size: cover}</style>
</head>

<%-include('partials/header')%>

<div id="login" action="/login">
  <div class="forthis container">
    <div class="title">nit blog</div>
    <form>
      <div class="form-row">
        <div class="form-group">
          <input
            type="email"
            class="form-control"
            name="email"
            placeholder="Enter Email"
            id="useremail"
            required
          />
          <label for="useremail">Email</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group">
          <input
            type="password"
            class="form-control"
            name="password"
            placeholder="Enter Password"
            id="userpass"
            required
          />
          <label for="userpass">Password</label>
        </div>
      </div>
      <div class="btn-sm d-grid gap-2 mx-auto">
        <button type="submit" class="sm-button">log in</button>
      </div>
      <div class="forget-signup">
        <a class="link" href="#">forget password?</a>
        <br />
        Don't have an account? <a class="link" href="/signup">register</a>
      </div>
    </form>
    <hr />
    <div class="social-signup">
      <img src="/img/Sign-In-Large---Active.png" alt="sign in with linkedin" />
      <br />or<br />
      <img src="/img/google-dark.png" alt="sign in with google" />
    </div>
  </div>
</div>

<%-include('partials/footer')%>
