<head>
	<style>
		body {
			background: url("/img/Funky-HD-Wallpaper.jpg") fixed;
			background-size: cover;
		}
	</style>
</head>

<%-include('partials/header')%>

<div id="login" action="/signup">
	<div class="forthis container">
		<div class="title">nit blog</div>
		<form method="POST">
			<div class="form-row">
				<div class="form-group">
					<input
						type="name"
						class="form-control"
						name="fname"
						placeholder="first name"
						id="fname"
						required
					/>
					<label for="fname">First Name</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<input
						type="name"
						class="form-control"
						name="mname"
						placeholder="middle name"
						id="mname"
					/>
					<label for="mname">Middle Name (Optional)</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<input
						type="name"
						class="form-control"
						name="lname"
						placeholder="last name"
						id="lname"
					/>
					<label for="lname">Last Name (Optional)</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<input
						type="email"
						class="form-control"
						name="email"
						placeholder="Email"
						id="useremail"
						required
					/>
					<label for="useremail">Email</label>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group">
					<input
						type="password"
						class="form-control"
						name="password"
						placeholder="Password"
						id="userpass"
						required
					/>
					<label for="userpass">Password</label>
				</div>
			</div>
			<div class="btn-sm d-grid gap-2 mx-auto">
				<button type="submit" class="sm-button">sign up</button>
			</div>
			<div class="forget-signup">
				Already signed up? <a class="link" href="/login">log in</a>
			</div>
		</form>
		<hr />
		<div class="social-signup">
			<img src="/img/Sign-In-Large---Active.png" alt="log in with linkedin" />
			<br />or<br />
			<img src="/img/google-dark.png" alt="log in with google" />
		</div>
	</div>
</div>

<%-include('partials/footer')%>
